* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    display: inline-block;
  }
  
  html {
    font-family: 'Inconsolata', monospace;
    background-color: #630606;
    background-size: contain;
    min-width: 100%;
  
  }
  
  .header {
      background-color: #E83A14;
      color: #e2e8f0;
      padding: 30px 20px;

      &__content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      }
  
  a {
    font-size: 28px;
  }
  
  p {
    line-height: 1.5;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 auto;
  }
  
  ul {
    list-style-type: none;
  }
  

  //EXTEND
  .barradenavegacion {
    display: flex;
    font-style: oblique;
    align-items: center;

    & li {
      margin: 0 15px;
      gap: 10px;
    }

    & li a {
      color: white;
      font-weight: bold;
      transition: $transitionde1s;
    }

    & a:hover {
      color: black;
    }
  }
  
  .navbar {
    @extend .barradenavegacion;
  }
  
  
  